@value _per_100, _per_80, _auto, _px_30, _px_25 from "../variables/units.css";

.dm_wh_80per{
    width: _per_80;
}

.dm_wh_ht_100per{
  width: _per_100;
  height: _per_100;
}

.dm_wh_100per_ht_auto{
  width: _per_100;
  height: _auto;
}

.dm_25{
	width:25px;
	height:25px
}

.dm_30{
	width:30px;
	height:30px
}

.dm_32{
	width:32px;
	height:32px
}

.dm_40{
	width:40px;
	height:40px;
}

.lh_1_8{
	line-height:1.8 !important
}
