@value _tundora from '../common-css/variables/colors.css';

.default{
	font: 600 16px 'San Francisco Display Light';
    border: none;
    composes: bg_transparent from '../common-css/colors/colors.css';
    border-radius: 0;
    cursor:pointer;
}



.default:focus{
	outline:none;
}

.createform_reset{
	composes: default;
	composes: clr_dustyGray from '../common-css/colors/colors.css';
}

.createform_reset:hover{
	color: _tundora;
}

.createform_submit{
	composes: default;
	composes: clr_red_1 from '../common-css/colors/colors.css';
}
