.default {
	color: #999;
    cursor: text;
    transition: .2s ease-out;
    font: 600 14px 'San Francisco Display Thin';
    display: inline-block;
    position: relative;
    left: 5px;
}

.default:focus {
	font-size: 14px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible;
    outline:none;
}

.default.mandatory::before{
	content: "*";
    color: #f46e7b;
    font: bold 15px/18px 'San Francisco Display Regular';
    background: none;
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    float: right;
    bottom: 0;
    padding-left: 7px;
}







/*

.info {
}

.primary {
}

.danger {
}

.warning {
}

.primary_x  .a {
	color: red;
}

.danger_x  .a {
	color: yellow;
}

.warning_x .a {
	color: green;
}

.primary_y  .a {
	color: white;
}

.danger_y  .a {
	color: blue;
}

.warning_y .a {
}
*/
