@value _red_1 from '../common-css/variables/colors.css';

.default {
	outline: none; 	
	margin-bottom: 25px;
	text-align: left;	
}

.default:focus{
	outline: none
}

.default .field_default{
	outline: none
}



.float_checkboxgroup {
	composes:default;
}

.float_checkboxgroup:focus{
	outline: none
}

.float_checkboxgroup .field_default{
	outline: none;
}
