@value _mercury,_gallery_1 from '../common-css/variables/colors.css';

.pill{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid _gallery_1;
    border-radius: 50px;
    padding: 4px 5px;
    composes: fs_15_px from '../common-css/font-sizes/fontsizes.css';
}
.tag{
   display:inline-block;
    vertical-align:middle;
    border: 1px solid _mercury;
    composes: bg_wildSand_1 from '../common-css/colors/colors.css';
    border-radius: .2rem
}
.pillBody,.pillLabel,.pillRemove,.pillTypeIcon{
   display:inline-block;
}
.pillLabel{
  	composes: _mineShaft from '../common-css/colors/colors.css';
}
.pillLabel,.pillRemove {
    padding:0 .4rem;
}
.pillRemove{
  margin-left:-.4rem;
  composes: clr_tundora from '../common-css/colors/colors.css';
  cursor:pointer;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
.tagColor{
    composes: _mineShaft from '../common-css/colors/colors.css';
}
