/* $Id */
/* $Id$ */
.date
{
	border-bottom: 1px solid #e3e6eb ;
	padding:2px 0px;
	composes:w100per from '../../../css/CommonStyle.css';
	transition: border 0.2s linear 0s;
	color: #333;
	min-height:2em;
}
.date:hover
{
	border-bottom: 1px solid #8a8a8a ;
}
.dateFocus
{
	border-bottom: 1px solid #0f7df0;
	padding:2px 0px;
	composes:w100per from '../../../css/CommonStyle.css';
	min-height:2em;
	transition: border 0.2s linear 0s;
	composes:posRel from '../../../css/CommonStyle.css';
	color: #333;
}
.absolute
{
	composes:posAbsolute from '../../../css/CommonStyle.css';
	top:44px;
	z-index:3;
	left:0px;
}
.dateTop
{
	composes:absolute;
	bottom: 100%;
	top:auto;
}