/* $Id$ */
.timeStr
{
	color:#999 ;
	margin:0px 0px 0px 10px;
	width:40px;
	composes:displayInB from '../../../css/CommonStyle.css';
    font:14px/18px 'ProximaNovaRegular',sans-serif;
}
.drop
{
	width:30px;
	composes:displayInB from '../../../css/CommonStyle.css';
}
.dropdown
{
	width:40px;
	composes:displayInB from '../../../css/CommonStyle.css';
	margin:0px 5px;
}
