
.dis_block{
	display: block;
}

.default {
	display: block;
    background: #f7f7f7;
    color: #999;
    font: 400 14px 'San Francisco Display Light';
    padding: 10px 15px;
}

.default.valid {
	display: none;
}

.default.errored {
	display: block;
}



