@value _tundora, _inherit from '../common-css/variables/colors.css';
@value _none from '../common-css/variables/units.css';

.default{
	composes: fy_roboto from '../common-css/font-family/fontfamily.css';
	composes: fs_16_px from '../../../components/common-css/typography/fontsizes.css';
	border: none;
    composes: bg_transparent from '../common-css/colors/colors.css';
    border-radius: 0;
    cursor:pointer;
    padding:0;
}
.default:hover{
	background-color: transparent;
}
.default:focus{
	outline: _none;
}

.createform_reset{
	composes: default;
	color: _inherit; 
	
}

.createform_submit{
	composes: default;
	composes: clr_froly from '../common-css/colors/colors.css';
}
