/* $Id */
@value _froly,_tundora,_white,_seashell,_transparent_alpha, _transparent_alpha_2,_wildSand_1,_blackHaze,_silver,_deepCerulean from '../../common-css/variables/colors.css';

.timesection{
	text-align: center;
    padding: 15px 0;
    border-top: 1px solid _seashell;
}

.DateNew{
	padding: 10px 15px;
}

.DateNew > div{
	display:flex;
}

.dateContainer {
	composes: bg_white from '../../common-css/colors/colors.css';
	box-shadow: 0px 2px 5px _transparent_alpha_2;
	width: 100%;
}

.topArow {
	width: 15px;
	height: 15px;
	composes: bg_froly from '../../common-css/colors/colors.css';
	border-right: 1px solid _froly;
	border-top: 1px solid _froly;
	transform: rotate(-45deg);
	display: inline-block;
	position: absolute;
	
}

.topRightArowPos {
	composes: topArow;
	right: 50px;
	left: auto;
}

.topArowPos {
	composes: topArow;
	top: auto;
	bottom: -8px;
	transform: rotate(135deg);
	right: 9px;
	background: #fff;
    border-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	composes: min_level_minus_1 from '../../common-css/zindexes/zindex.css';
}

.topLeftArowPos {
	composes: topArow;
}

.bottomLeftArowPos {
	composes: topArow;
	background-position: -335px -150px;
	top: -8px;
	right: 9px;
}

.bottomArowPos {
	composes: topArow;
	top: -8px;
	right: 50px;
	left: auto;
}

.rightArowPos {
	composes: topArow;
	height: 16px;
	width: 16px;
	background-position: -335px -150px;
	left: 50px;
	top: -9px;
	transform: rotate(-45deg);
}

.commonStr {
	composes: clr_tundora from '../../common-css/colors/colors.css';
	composes: fs_14_px from '../../common-css/font-sizes/fontsizes.css';
	text-align: center;
	display: inline-block;
}

.sideArows {
	composes: commonStr;
	width: 30px;
	height: 30px;
	margin: 0px 10px;
	cursor: pointer;
	composes: clr_white from '../../common-css/colors/colors.css';
	transition: all .3s ease-out;
	 display: -webkit-flex; 
	  display: flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
}

.monthStr {
	composes: commonStr;
	width: 119px;
	composes: clr_white from '../../common-css/colors/colors.css';
}

.daysStr {
	composes: commonStr;
	width: 45px;
	 composes: fs_12_px from '../../common-css/font-sizes/fontsizes.css';
	text-transform: uppercase;
	composes: clr_white from '../../common-css/colors/colors.css';
}

.datesStr {
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	padding: 18px 3px 10px 3px;
	line-height:0;
	composes: commonStr;
	margin: 2px 4px;
	cursor: pointer;
	
}

.optionsTop {
	composes: bg_froly from '../../common-css/colors/colors.css';
	padding: 12px 10px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.days {
	display:flex;
	composes: bg_froly from '../../common-css/colors/colors.css';
    padding: 10px 15px;
}

.sideArows:hover, .datesStr:hover {
	color: _tundora;
	background: _wildSand_1;
	border-radius: 100px;
}

.sunday {
	composes: clr_froly from '../../common-css/colors/colors.css';
}

.today{
	composes: bg_froly from '../../common-css/colors/colors.css';
	composes: clr_white_imp from '../../common-css/colors/colors.css' ;
	border-radius: 100px;
	composes: commonStr;
}


.today:hover {
	background: _froly;
	color: _white;
}

.emptySpan {
	width: 45px;
	display: inline-block;
}

.marTop {
	padding: 12px 0;
    border-top: 1px solid _blackHaze;
    display: flex;
    justify-content: space-around;
    position:relative;
}

.marTop > button{
	flex:1;
	padding:0;
}
.marTop > button:hover{
	background-color: transparent;
}
.marTop::after{
	content: "";
    position: absolute;
    border-left: 1px solid _blackHaze;
    height: 100%;
    left: 50%;
    top:0;
    bottom: 0;
}

.blueBut {
	composes: clr_froly from '../../common-css/colors/colors.css';
    cursor: pointer;
     composes: fs_16_px from '../../common-css/font-sizes/fontsizes.css';
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    composes: bg_transparent from '../../common-css/colors/colors.css'; 
    border: none;
    transition: all 0.65s ease;
}


.canButton {
	composes: clr_dustyGray from '../../common-css/colors/colors.css';
    cursor: pointer;
    composes: fs_16_px from '../../common-css/font-sizes/fontsizes.css';
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    composes: bg_transparent from '../../common-css/colors/colors.css'; 
    border: none;
    transition: all 0.65s ease;
}



.timeStr {
	composes: clr_tundora from '../../common-css/colors/colors.css';
    margin: 0px 5px 0px 10px;
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
     composes: fs_15_px from '../../common-css/font-sizes/fontsizes.css';
    light-hight:18px;
    padding-top: 10px;
}

.dropDown {
	width: 40px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
}

.sideArows:nth-child(2) {
	transform: rotate(180deg);
}
.sideArows:last-child{
	transform: rotate(180deg);
}
