@value _crimson,_froly,_red,_white,_yellow,_green,_blue from '../common-css/variables/colors.css';
@value _none from '../common-css/variables/units.css';
@value _px_14, _px_15 from '../common-css/variables/fontsizes.css';

.default  {
	composes: clr_dustyGray from '../common-css/colors/colors.css';
    cursor: text;
    display: inline-block;
    position: relative;
    outline: none;
    composes: fs_14_px from '../common-css/font-sizes/fontsizes.css';
    composes: ft_400 from '../common-css/font-weight/fontweight.css';
    pointer-events: none;
    left: 5px;
    top: 30px;
    transition: 0.2s ease all;
    letter-spacing: normal;
    margin:0;
}

.default:focus,  .fload_checkboxlabel:focus {
	font-size: _px_14;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible;
    outline:none;
}

 
.default.mandatory::before, .captchaLabel::before{
	content: "*";
    color: _crimson;
    font-size: _px_15;
    font-weight:bold;
    background: _none;
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    float: right;
    bottom: 0;
    padding-left: 7px;
}


.default.raised,.fload_checkboxlabel.raised{
	top: 10px;
    font-size: _px_14;
    transition: .2s ease-out;
}



.fload_checkboxlabel{
	composes: clr_dustyGray from '../common-css/colors/colors.css';
    cursor: text;
    display: inline-block;
    outline: none;
    composes: fs_14_px from '../common-css/font-sizes/fontsizes.css';
    composes: ft_400 from '../common-css/font-weight/fontweight.css';
    transition: 0.2s ease all;
    margin-top: 4px;
    margin-left: 10px;
}

.captchaLabel{
	cursor: text;
    display: inline-block;
    position: relative;
   	left: 5px;
   	padding: 20px 0;
	font-size: 16px;
	letter-spacing: normal;
    	margin:0;
}


