@value _alto,_jordyBlue,_red_1,_green, _froly from '../common-css/variables/colors.css';
@value _none from '../common-css/variables/units.css';

.default{
	margin: 0;
    display: block;
    border: none;
    border-bottom: solid 1px _alto;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, _white_alpha 99%, _red_1 4%);
    background: linear-gradient(to bottom, _white_alpha 99%, _red_1 4%);
    background-position: -350px 0;
    background-size: 350px 100%;
    background-repeat: no-repeat;
    composes: clr_tundora from '../common-css/colors/colors.css';
    outline: none !important;
    width: 100%;
    composes: fs_16_px from '../common-css/font-sizes/fontsizes.css';
    overflow:auto;
    box-shadow: none;
}

.default:focus{
	background-position: 0 0;
	border: _none !important;
	border-bottom: 1px solid  _froly !important;
	box-shadow: _none;
	outline: _none !important;
}

.default.autoExpandY{
	 box-sizing: border-box;
	 resize:none;
	 max-height: 150px;
     padding: 0 10px 10px 5px;
     margin-top: 15px;
     height: 30px;
     box-shadow: none;
}

.default.focused {
  outline: 5px auto _jordyBlue;
}

.default.raised {
  outline: 5px auto _green;
}

.myinput.focused {
  outline: 5px auto _jordyBlue;
}

.myinput.raised {
  outline: 5px auto _green;
}
