.default {
}

.info {
}

.primary {
}

.danger {
}

.warning {
}

/*
.primary_x  .a {
	color: red;
}

.danger_x  .a {
	color: yellow;
}

.warning_x .a {
	color: green;
}

.primary_y  .a {
	color: white;
}

.danger_y  .a {
	color: blue;
}

.warning_y .a {
}
*/
