/* $Id */
.date
{
	border-bottom: 1px solid #e0e0e0 ;
	width:100%;
	transition: border 0.2s linear 0s;
	color: #333;
    font-size: 16px;
    min-height: 24px;
    padding: 10px 5px 0 5px;
}
/* .date:hover
{
	border-bottom: 1px solid #8a8a8a ;
} */
.dateFocus
{
	border-bottom: 1px solid #f00000;
	padding: 10px 5px 0 5px;
	width:100%;
	min-height:24px;
	transition: border 0.2s linear 0s;
	position:relative;
	color: #333;
	font-size: 16px;
}
.absolute
{
	position:absolute;
	top:35px;
	z-index:9999;
}
.dateTop
{
	composes:absolute;
	bottom: 100%;
	top:auto;
}