/* $Id$ */

.main{
	position:relative;
    cursor:pointer;;
}
.mainNot
{
    composes:main;
    cursor:not-allowed;
}
.middleAlign
{
    display:inline-block;
    vertical-align:middle
}
.dropdown{
    padding:5px 0px;
    border-bottom:1px solid #e3e6eb;
    color:#444;
}
.dropdown:hover{
	border-bottom:1px solid #f46e7b;
}
.selectname{
       overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    width:calc(100% - 18px);
    composes:middleAlign;
    font:14px "San Francisco Display Regular", sans-serif;
}
.listview{
	width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 29px;
    left: 0px;
    box-shadow: 0 0 3px #bdbdbd;
    border: 1px solid #f46d7b;
    border-radius: 2px 2px 0px 0px;
    background-color: white;
    z-index: 10;
}
.listmenu{
	padding:4px 0px;
	max-height:200px;
	overflow-y:auto;
    margin:0px;
}
.topListView
{
    composes:listview;
    bottom:100%;
    top:auto;
}
.option{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
	padding:4px 7px;
	font:14px "San Francisco Display Regular",sans-serif;
	color:#000;
}
.option:hover{
	background:#f46e7b;
    color:#fff;
}
.hide{
	display:none;
}
.searchicon{
    width:calc(100% - 18px);
    padding:0px 8px;
   border:none;
    background-color:#fff;
    composes:middleAlign;
    box-sizing:border-box;;
}
.searchIcon
{
    composes:middleAlign;
}
.searchinp{
    padding:5px 0px;
    border-bottom:1px solid #e5e5e5;
}
.searchinp span i
{
    font-weight:700;
}
.bccolor{
	background-color:#f46e7b;
	composes:option;
	color:#fff;
}
.normal{
	background-color:white;
	composes:option;
}
.flexline{
	display: block;
    color: #444;
    position: relative;
    left: -4px;
}
.notfound
{
    background-color:#f4f4f4;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    padding:4px 7px;
    font:14px "San Francisco Display Regular",sans-serif;
    color:#000;
    cursor:default;
}
.dropStyle
{
    border:1px solid #00acda;
    padding:5px 3px;
    color:#00acda;
    border-radius:2px;
}
.dropSelectName
{
    composes:middleAlign;
    font:14px "San Francisco Display Regular", sans-serif;
}
.downArow:before
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: 7px;
    width: 6px;
    height: 6px;
    border: 1px solid #b5b5b5;
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-45deg);
}
.topArow:before
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: 4px;
    width: 6px;
    height: 6px;
    border: 1px solid #b5b5b5;
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(135deg);
}
