@value _blue, _green, _transparent, _black_alpha_half, _grey_shade, _grey_shade2 from "../variables/colors.css";

.clr_red {
	color: _blue;
}

.clr_green {
	color: _green;
}

.clr_greyshade{
    color: _grey_shade;
}
.clr_greyshade2{
    color: _grey_shade2;
}




.bg_red {
	background-color: _blue;
}


.bg_green {
	background-color: _green;
}

.bg_transparent {
	background-color: _transparent;
}

.bg_black_alpha_half {
	background-color: _black_alpha_half;
}

