.default {
    width: inherit;
    composes: fleft from '../common-css/floats/floats.css';
	}

.default:focus{
	outline:none;
}

.default .checkbox_item {
	display: inline-block;
}

.default .checkbox_item.active_item {
	display: inline-block;
}

