.default {
    composes: bg_provincial_pink from '../common-css/colors/colors.css';
    composes: clr_crimson from '../common-css/colors/colors.css';
    composes: fs_14_px from '../../../components/common-css/typography/fontsizes.css';
    font-weight:400;
    padding: 10px 15px;
    composes: dm_ht_100per from '../common-css/layoutunits/units.css';
    max-height: 72px;
    height: 100%;
}

.default.valid {
	display: none;
}

.default.errored {
	display: block;
}