/* $Id */
.dateContainer
{
	background:#FFF;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 310px;
}
.topArow
{
    width: 15px;
    height: 15px;
    background: white;
    border-right: 1px solid #d2d3d2;
    border-top: 1px solid #d2d3d2;
    transform: rotate(-45deg);
    composes:displayInB from "../../../css/CommonStyle.css";
    composes:posAbsolute from "../../../css/CommonStyle.css";
}
.topRightArowPos
{
    composes:topArow;
    right:50px;
    left:auto;
}
.topArowPos
{
    composes:topArow;
    top:auto;
    bottom:-8px;
    transform:rotate(135deg);
}
.topLeftArowPos
{
    composes:topArow;
}
.bottomLeftArowPos
{
    composes:topArow;
    background-position: -335px -150px;
    top: -8px;
    right: 0;
    left: 30px;
}
.bottomArowPos
{
    composes:topArow;
    top:-8px;
    right:50px;
    left:auto;
}
.rightArowPos
{
    composes:topArow;
    height: 16px;
    width: 16px;
    background-position: -335px -150px;
    left: 50px;
    top: -9px;
    transform: rotate(-45deg);
}
.commonStr
{
	color:#666;
	composes:fontRegular from "../../../css/CommonStyle.css";
  font-size:14px;
	composes:talignCenter from "../../../css/CommonStyle.css";
  composes:displayInB from "../../../css/CommonStyle.css";
}
.sideArows
{
	composes:commonStr;
  width:30px;
  height:30px;
  line-height:30px;
  margin:0px 4px;
  composes:curPointer from '../../../css/CommonStyle.css';
}
.monthStr
{
	composes:commonStr;
	width:119px;
}
.daysStr
{
	composes:commonStr;
	width:39px;
  font-size:12px;
	composes:fontLight from "../../../css/CommonStyle.css";
  text-transform:uppercase;
}
.datesStr
{
	width: 31px;
	padding: 4px 0px;
	composes:commonStr;
	margin: 2px 4px;
  composes:curPointer from '../../../css/CommonStyle.css';
}
.optionsTop
{
	margin: 8px 0px;
}
.days
{
    margin: 2px 0px;
}
.sideArows:hover,.datesStr:hover
{
	color:#13a8df;
    background: #f5f5f5;
    border-radius: 100px;
}
.datemain
{
	composes:w100per from "../../../css/CommonStyle.css";
}
.sunday
{
	color: #ff0000;
}
.today
{
	background:#0f7df0;
    color:#FFF;
    border-radius: 100px;
    width: 31px;
    margin: 2px 4px;
    padding: 4px 0px;
    composes:commonStr;
}
.today:hover
{
	background:#0f7df0 ;
    color: #fff;
}
.emptySpan
{
	width: 39px;
	composes:displayInB from "../../../css/CommonStyle.css";
}
.marTop
{
	margin-top: 18px;
}
.blueBut
{
	background:#0f7df0;
    color:#FFF;
    border:1px solid #0f7df0;
    padding:3px 20px;
    letter-spacing: 0.04em;
    border-radius: 3px;
    composes:curPointer from '../../../css/CommonStyle.css';
    font-size:14px;
    composes:fontRegular from "../../../css/CommonStyle.css";
    composes:outlineNone from '../../../css/CommonStyle.css';
    margin-left: 50px;
    max-width:100px;
    text-overflow:ellipsis;
    overflow:hidden;
}
.blueBut:hover
{
	border: 1px solid #0085a9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.canButton
{
	background:#FFF;
	padding:3px 20px;
  color:#888;
  border:1px solid #ddd;
  border-radius:3px;
  composes:curPointer from '../../../css/CommonStyle.css';
  font-size:14px;
  composes:fontRegular from "../../../css/CommonStyle.css";
  composes:outlineNone from '../../../css/CommonStyle.css';
  margin-left:8px;
  max-width:100px;
  text-overflow:ellipsis;
  overflow:hidden;
}
.canButton:hover
{
	border:1px solid #c6c6c6;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.timeStr
{
    color:#999;
    margin:0px 5px 0px 10px;
    width:40px;
    composes:textOverHandle from '../../../css/CommonStyle.css';
    composes:displayInB from "../../../css/CommonStyle.css";
    font:14px/18px 'ProximaNovaRegular',sans-serif;
    composes:verAlignMid from "../../../css/CommonStyle.css";
    padding-top:10px;
}
.dropDown
{
    width:40px;
    composes:displayInB from "../../../css/CommonStyle.css";
    composes:verAlignTop from "../../../css/CommonStyle.css";
    margin:0px 10px;
}
