@value _red from "../common-css/variables/colors.css";

.iconbase {
    position:relative;
    top: -.1133333333em;
    display:inline-block;
    width: 24px;
    height: 24px;
    color: inherit;
    vertical-align:middle;
    
    fill: currentColor
}

/* icon hover */
.attachIcon:hover {
	color : #444;
}
/* icon hover */

