@value _red from "../common-css/variables/colors.css";

.default {
	color: red;
	font-size: 10px;
}

.searchview {
	font-size: 10px;
	color: blue;
}

.menuview {
	font-size: 10px;
	color: red;
}

.menuview:hover {
	border: 1px solid green;
}

.footerview {
	font-size: 10px;
	color: blue;
}

/** Parent Styles **/
:global(.ticket_menuitem:hover) :local(.plusIcon_global) {
	color: _red;
}
