.thumbnail_group {
	margin:0;
	height: 100%;
	width: 100%;
	animation: slide-name .2s ease-in-out .1s forwards;
 	opacity:0;
}

.thumbnail_group .source {
	max-width:100%;
	height: 100%;
	border-radius: 50px;
}

@keyframes slide-name {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide-name{
	0% { 
		-webkit-transform: translateX(-50px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateX(0px);  
		opacity: 1;
	}
}